<template name="pollForm">
  {{#if currentUser}}
  <form>
    <div class="form-group">
      <label>Summoner Name</label>
      <input type="text" name="sname" class="form-control" placeholder="Player Name">
    </div>

    <div>
      <label>Tier</label>
      <select name="tier">
        <option value="Bronze">Bronze</option>
        <option value="Silver">Silver</option>
        <option value="Gold">Gold</option>
        <option value="Platinum">Platinum</option>
        <option value="Diamond">Diamond</option>
        <option value="Master">Master</option>
        <option value="Challenger">Challenger</option>
      </select>
    </div>
    <div>
      <label>Rank</label>
      <select name="rank">
        <option value="I">I</option>
        <option value="II">II</option>
        <option value="III">III</option>
        <option value="IV">IV</option>
        <option value="V">V</option>
      </select>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Enter</button>
  </form>
  {{/if}}
</template>